body{
    background-color: grey;
}
div#buttons{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    display: relative;
    height: 70px;
    width: 80px;
    font-size: 1.9em;
    color: white;
    background-color: rgba(0, 0, 0, 0.571);
    border: none;
}
#img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.668);
}
button:active{
    background-color: rgba(0, 0, 0, 0.555);
}