*{
    margin: 0;
    font-family: monospace;
}
body{
    background-color: #c3c2c2;
}
.container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
h1{
    font-size: 4rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.display{
    margin: 0 auto;
    padding: 3em;
    width: 50%;
    border: 2px solid black;
    border-radius: 2em;
    background-color: white;
}
#stopwatch{
    font-size: 4rem;
    font-weight: bold;
    color: rgb(64, 64, 64);
}
.button{
    border: none;
    border-radius: 0.2em;
    padding: 0.4em;
    color: white;
}
.start{
    background-color: green;
}
.reset{
    background-color: rgb(0, 106, 255);
}
.stop{
    background-color: red;
}