.container{
    width: 60vw;
    text-align: center;
    margin: 20vh auto;
    padding: 2em;
}

p{
    border: 1px solid black;
    border-radius: 0.2em;
    width: 80%;
    margin: 1em auto;
    font-size: 3.2em;
    background-color: rgb(17, 42, 69);
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 25px black;
}

button{
    font-size: 1.6em;
    letter-spacing: 0.1em;
    background-color: rgba(0,0,0,0);
    padding :0.1em 0.3em;
    border: 2px solid rgb(26, 0, 171);
}
button:hover{
    background-color: rgba(0,0,0,0.2);
}